table{
	font-size:24px;
	padding:15px;
	/* float:right; */
	/* margin:50px 250px 0px 0px; */
	border:1px solid #a8a8a8;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}

#tb1,#tb2{
	/* border:1px solid red; */
	vertical-align:top;
	margin-left:150px;
	margin-top:50px;
	display:inline-block;
	/* margin-right:250px; */
}

#tblpass{
	display:none;
}

#message{
	margin:0px auto;
	width:1000px;
	font-size:24px;
	text-align:center;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-color:yellow;
	display:none;
	padding:10px;
	/* border:1px solid red; */
}

.tdbtn{
	text-align:center;
}


input{
	font-size:24px;
	padding-left:10px;
	border-radius:5px
}

button{
	font-size:24px;
	margin:5px;
	padding-left:10px;
	border-radius:5px
}

.disabled{
	cursor:not-allowed;
}

.enable{
	cursor:pointer;
}	

caption{
	text-align:left;
	padding-left:25px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	background-color:#a8a8a8;
}