#paybutton{
	border-radius:5px;
	font-size:20px;
}

#otpbox{
	/* display:none; */
	margin-left:20px;
}

#otp{
	border-radius:5px;
	font-size:20px;
	padding-left:10px;
	width:100px;
}

#paybox{
	border:2px solid blue;
	border-radius:5px;
	padding-left: 10px;
	margin-left:100px;
	padding-bottom:20px;
	display:none;
	width:550px;
}

#other{
	margin-top:5px;
	margin-left:25px;
}

#paycod{
	margin-left:100px;
	padding:10px;
	padding-left:20px;
	width:300px;
}

.inputgrp{
	padding:0px;
	margin-top:2px;
}
.inputgrp input{
	font-size:20px;
	border-radius:5px;
}

#captchaans{
	margin:0px;
	width:100px;
	padding-left:10px;
}

#rcaptcha{
	font-size:20px;
}

#modpayment{
	margin-left:20px;
	margin-top:5px;
	font-style:italic;
	font-weight:bold;
}

#code{
	text-align:center;
	margin: 0px auto;
	font-size: 36px;
	font-family:cursive;
	color:white;
	background-color:black;
}

.balance{
	margin-top:50px;
	margin-left:20px;
}

.atmn{
	font-size:20px;
}

.atmn input{
	margin-left:50px;
	font-size: 20px;
	padding-left:10px;
	border-radius: 5px;
}

.atmcvv{
	font-size:20px;
}

.atmcvv input{
	margin-left:20px;
	font-size:20px;
	width:100px;
	padding-left:5px;
	border-radius:5px;
}

#pmbs{
	margin-left:50px;
	margin-bottom:10px;
}
.pmb{
	font-size:16px;
	border-radius:5px;
}

.atmex{
	font-size:20px;
}

.atmex input{
	margin-left:20px;
	font-size:16px;
	padding-left:5px;
	border-radius:5px;
}

.proceedb{
	font-size:24px;
	margin:4px;
	border-radius:5px;
}
