#esuc{
	display:none;
}

#logoimg{
	/* border:1px solid red; */
}

#logoimg img{
	height:100px;
}

INPUT{
	padding-left:10px;
	font-size:24px;
	margin:5px;
}

#buttoncoll{
	/* border:1px solid red; */
	/* font-size:24px*/
	margin:5px;
	padding:5px;
}

#buttoncoll button{
	font-size:20px;
}

input[type='button'],button{
	border-radius:5px;
	outline:0px;
}

legend{
	font-size:36px;
}

.btnactive{
	background-color:#01e929
}