.imagerow{
	transition:5s;
	margin:10px;
	/* border:2px solid red; */
	margin-left:50px;
	/* width:100%; */
	display:inline-block;
}

h1{
	/* border:1px solid blue; */
	padding-left:70px;
	text-shadow:2px 2px blue;
	margin:20px 0px 0px 0px;
}

.imagetd{
	float:left;
	margin:8px;
	font-size:18px;
	max-width:400px;
	padding:10px;
	border:1px solid black;
	display:inline-block;
	box-shadow:4px 4px 18px blue;
}

.imagetd:hover{
	background-color:#c8c8c8;
	cursor:pointer;
}

.bdetails{
	padding-left:10px;
}

.bookdetails{
	margin-left:180px;
	height:250px;
	width:200px;
	/* border:1px solid blue; */
}


.imagetd img{
	display:block;
	height:250px;
	width:180px;
	float:left;
}

