.bookbox{
	border:1px solid #4f4f4f;
	margin:15px;
	padding:10px;
	border-radius:15px;
	cursor:pointer;
}

.bookbox:hover{
	box-shadow:1px 2px 5px red;
}

.bookbox:active{
	box-shadow:1px 2px 15px blue;
}

.bcontent{
	padding-left:80px;
}

.bheading{
	/* padding-left:50px; */
	font-style:italic;
	font-weight:bold;
}

#main img{
	height:250px;
	float:left;
	margin:15px 50px 5px 50px;
}

.bp{
	font-size:18px;
	/* border:2px solid red; */
	margin:5px 0px 5px 250px;
}

#main{
	margin: 50px 100px;
	/* margin: 0px auto; */
	/* border:1px solid blue; */
}
