#header{
	position: sticky;
	top: 0px;
	padding-left: 50px;
	height:50px;
	border:2px solid yellow;
}

#logo{
	height: inherit;
}

.head{
	height:inherit;
	float:left;
}

#headcontent{
	height:50px;
	font-size:36px;
	font-weight:bold;
	margin-left:160px;
	text-align:center;
}

.btn{
	font-size:28px;
	margin:4px;
} 

#buttons{
	float:right;
	margin-right:40px;
}